<div class="container">
  <div class="card-deck">
    <div class="row">
      <% @types.each do |t| %>
          <div class="card">
            <p><%= t.name %></p>
            <p><%= link_to 'Show', type_path(t) %></p>
          </div>
        <% end %>
    </div>
  </div>
</div>
