<div class="container">
  <div class="row">
      <div class="card" style="width: 100%;">

        <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Type: <%= @type.name %></li>
            </ul>
        </div>

      </div>
  </div>
  <%= link_to 'Back', types_path, :class => "btn btn-primary" %>
</div>
