<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Pokemons" , "/pokemon", :class => "nav-link"  %>
  </li>
  <li class="nav-item">
    <%= link_to "Types" , "/type", :class => "nav-link"  %>
  </li>
  <li class="nav-item">
    <%= link_to "Quotes" , "/quote", :class => "nav-link"  %>
  </li>
  <li class="nav-item">
    <%= link_to "About" , "/pages/about", :class => "nav-link"  %>
  </li>
</ul>