<div class='container'>
    <strong>Pokedex</strong>
    <p>A usefull website that is the full pokedex used in the pokemon games using a <a href="https://github.com/fanzeyi/pokemon.json">pokemon dataset</a>. Each pokemon has a single quote and a quote can have many pokemon to them. I also developed a many to many realtions ship for pokemons and types so each pokemoncan have many
    types and each type can have many pokemon. This was done with a joiner table called pokemon_types that breaks each side of the relation ship down to a one to many.</p>

    <strong>Created By:</strong>
    <p>Austin Slota</p>
</div>
