
<div class="container">
  <div class="card-deck">
    <div class="row">
      <% @quotes.each do |q| %>
        <div class="card">
          <p><%= q.quote %></p>
          <p><%= q.author %></p>
          <p><%= link_to 'Show', quote_path(q) %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
